# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
        
    - name: Install mosquito
      run: sudo apt-get -y install mosquitto
    - name: Install dependencies
      run: |
         python setup.py develop
         pip install pytest flake8 autopep8
    - name: Lint with flake8
      run: |
         python -m pytest
    
